<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Node JS</title>
</head>
<body>
    {{>_navbar}}
    <div class="container mt-4">
        {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
        {{else}}

        {{/if}}
        {{>_msg}}
        {{{body}}}
    </div>

    {{>_footer}} 
<script src="/public/js/bootstrap.bundle.min.js"></script>
</body>
</html>